
#album-view {
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#album-view img {
    height: 150px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

#modal-view {
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.9);
    z-index: 2;
    justify-content: center;
    align-items: center;
}

#modal-view img {
    max-width: 100%;
    max-height: 100%;
}

#modal-view.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}